{% trans %}
<p>WeLive is an EU H2020 funded project, addressing ICT-enabled open government – INSO1 topic, about a new concept of public administration based on citizen co-created mobile urban services.</p>

<p>The project is conceived to transform the current approach towards e-government by providing a new open model oriented towards the design, production and deployment of public services based in the collaboration of a quadruple helix, i.e. research organizations, companies, public administrations and citizens. WeLive will provide a novel We-Government ecosystem of tools (Live) built on the Open Data, Open Services and Open  Innovation paradigms that is easily deployable in different public administrations and which promotes co-innovation and co-creation of personalized public services through public-private partnership and the  empowerment of all the stakeholders to actively take part in the value-chain of a municipality or a territory.</p>

<p>More info at <a href="http://welive.eu">welive.eu</a></p>
{% endtrans %}
